html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../img/Lovepik_com-400143419-gray-bottom-geometry.jpg');
    background-size: cover;
}

footer {
    background-color: #0a53be;
    height: 13%;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1{
    color: black;
}

.img_utez{
    height: 8%;
    position: fixed;
    bottom: 1.8%;
    left: 7%;
}

.proy_logo{
    height: 8%;
    position: fixed;
    bottom: 2%;
    right: 5%;
}

.btn.btn-outline-primary.me-2 {
    margin-left: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    padding: 15px 25px;
    bottom: 43%;
    height: 8%;  
}

@media screen and (max-width: 600px) {
    .img_wom{
        left: 80%;
        bottom: 10%;
    }
}

.encabezado {
    font-size: 2.5em;
}
.encabezado2 {
    font-size: 2em;
}
.parrafo {
    font-size: 1em;
}

.blur {
    background-color: rgba(255, 255, 255, 0.088);
    border-radius: 15px; /* Esquinas redondeadas */
    padding: 5px 5px; /* Espacio dentro del rectángulo */
    backdrop-filter: blur(100px); /* Efecto de desenfoque en el fondo */
    -webkit-backdrop-filter: blur(10px); /* Efecto de desenfoque para Safari */
}

.blur2 {
    background-color: rgba(0, 102, 255, 0.173); /* Fondo blanco semitransparente */
    border-radius: 15px; /* Esquinas redondeadas */
    padding: 5px 5px; /* Espacio dentro del rectángulo */
    backdrop-filter: blur(10px); /* Efecto de desenfoque en el fondo */
    -webkit-backdrop-filter: blur(10px); /* Efecto de desenfoque para Safari */
}

@media (max-width: 600px) {
    .encabezado {
        font-size: 1.5em;
    }
    .encabezado2 {
        font-size: 1.2em;
    }
    .parrafo {
        font-size: 0.9em;
    }
}